html,
body {
    height: 100%;
    background-color: #817F7F;

}

header.carousel {
    height: 30%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-bottom: ridge 3px black;
    border-right: ridge 3px black;
    border-left: ridge 3px black;
    box-shadow: 0 0 30px rgba(0,0,50,1);
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    margin: auto
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:100% 100%;
}




@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
div.carousel .carousel {
        height: 70%;
    }
}

footer {
    border-top: ridge 2px black;
    position: relative;
    background-color: rgba(34,34,34,1);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
a{
    color: black;
}
a:hover { 

    color: white;  

}

.content_bar{

    margin-top:7%;
    margin-bottom: 15%;
    background-color: rgba(255, 255, 255, 0.7);
    border: ridge 2px black;
    box-shadow: 0 0 30px rgba(0,0,50,1);
    padding: 30px;
}


.banner{

    margin-top:35%;
    margin-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    border: ridge 2px black;
    box-shadow: 0 0 30px rgba(0,0,50,1);
}

.banner2{

    margin-top:50%;
    margin-bottom: 30%;
    background-color: rgba(255, 255, 255, 1);
    border: ridge 2px black;
    box-shadow: 0 0 30px rgba(0,0,50,1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.regcontainer {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="text"]:hover,
#contact input[type="password"]:hover,
#contact input[type="password"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #515a66;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://i.imgur.com/aFs5QmP.jpg');
    background-repeat:repeat;
  }




